<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script th:src="@{/board/report.js}"></script>


</head>
<body>

<div style="position: relative; width: 80%; left: 15%;">

    <span style="font-size: 120%">신고 내용</span>

    <hr>
    <span style="color: lightgray">신고한 멤버</span>&nbsp;&nbsp;
    <span th:text="${report.reportMember.nickname}"></span>
    <hr>
    <textarea th:id="reportText" style="width: 350px; height: 350px; font-size : 15px;"
              th:text="${report.reportText}" readonly></textarea>
    <br>
    <br>
    <a th:href="@{'/board/free/read/'+${report.reportPost.id}}" target="_blank"
    style="color: black; text-decoration: none;">신고 게시물로 이동하기</a>

</div>

</body>
</html>