<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script th:src="@{/board/free-update.js}"></script>

</head>
<body>
<div layout:fragment="content" class="d-flex justify-content-center">

    <div style="width:70% ">

        <input th:class="form-control" th:field="${post.title}" type="text" th:id="title">
        <hr/>


        <textarea id="summernote" th:field="${post.title}"></textarea>

        <br>

        <button class="w-10 btn btn-dark btn-lg" type="button" th:value="${post.id}" th:id="freeUpdate" th:name="freeupdate">수정</button>
        <br>
        <br>
    </div>


</div>
</body>
</html>